@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Lato', sans-serif;
    --font-serif: 'Merriweather', serif;
    --font-mono: 'Courier New', monospace;
    --font-heading: Arial, sans-serif;
  }

:root { /* Light */
    --ui-radius: var(--radius-lg);
    --ui-primary: var(--ui-color-primary-700);
    --ui-secondary: var(--ui-color-secondary-500);
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);
    --ui-neutral: var(--ui-color-neutral-300);
    --ui-app: var(--ui-color-app-100);
}

.dark {
    --ui-primary: var(--ui-color-primary-400);
    --ui-secondary: var(--ui-color-secondary-400);
    --ui-success: var(--ui-color-success-400);
    --ui-info: var(--ui-color-info-400);
    --ui-warning: var(--ui-color-warning-400);
    --ui-neutral: var(--ui-color-neutral-800);
    --ui-error: var(--ui-color-error-400);
    --ui-app: var(--ui-color-app-800);
}

h1 {
    @apply text-2xl pb-2 text-(--ui-secondary);
}

h2 {
    @apply text-xl pt-3 pb-1 font-bold text-(--ui-primary);
}

h3 {
    @apply text-lg font-bold text-(--ui-app);
}

h4 {
    @apply font-bold text-(--ui-app);
}

p {
    @apply pb-2;
}
